# Copy this file to `keystore.properties` and fill values (DO NOT commit `keystore.properties`)
# Example values:
# storeFile=keystore/my-release-key.jks
# storePassword=changeit
# keyAlias=release
# keyPassword=changeit

storeFile=keystore/my-release-key.jks
storePassword=
keyAlias=
keyPassword=
